{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% include "_header_00.html" %}
    <title>Survey Site</title>
</head>
<body>
    <div class="container mt-4">
        <div class="card-header">
            <h5 class="card-title">Survey Site</h5>
        <div>
        <div class="card text-dark bg-light mb-3 shadow">
            <div class="card-body">
                <p><a href="https://docs.google.com/spreadsheets/d/1m0nRODHxOC-LCVGfWotpF6WuxqwhVtEudKde_iEn_QA/htmlembed?single=true&range=B1%3ABB200&widget=false&chrome=false&style=%22embed%22&gid=1358605189" target="_self">
                    To continue survey, click here to choose your student number.<br>
                    要繼續進行調查，請點擊此處選擇您的學生號碼。<br>
                <img src="{% static 'images/logoClass00.png' %}" alt="Class Logo" class="img-fluid">
            </a></p>
            </div>
        </div>
    </div>

<script>
$(document).ready(function() {

});//document ready

</script>

</body>
</html>

